* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  outline: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Work+Sans&display=swap');

.App {
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.map {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.main-controller {
  z-index: 2;
  position: relative;
  padding: 20px 30px;
  height: auto;
  align-self: center;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.change {
  z-index: 2;
  position: relative;
  padding: 0px;
  height: auto;
  align-self: center;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 20px;
  width: 100%;
}

.input {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input label {
  font-size: 13px;
  text-transform: uppercase;
  color: #808080;
}

.input input {
  outline: none;
  color: #3c3c3c;;
  padding: 10px 10px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background: #E3E3E3;
  border: none;
}

.form button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.btn1 {
  background: #00A3FF;
  transition: 0.3s;
  border-radius: 50%;
  align-self: flex-end;
}

.btn3 {
  background: #ffb700;
  transition: 0.3s;
  border-radius: 50%;
  align-self: flex-end;
}
.btn3:hover {
  background: #a98e4b;
}
.btn1:hover {
  background: #00649e;
}
.btn2:hover {
  background: #7b0075;
}

.btn2 {
  background: #EA2AE2;
  border-radius: 50%;
  align-self: flex-end;

}

.forms {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 20px;
}

.hide-form {
 transform: translateX(-100%);
}

.trip-info {
  display: flex;
  height: 100%;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-info {
  display: flex;
  flex-direction: column;

}

.text-info h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 5px;
}
.text-info span {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background: #D9D9D9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 3px;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(20px);
  background-color: #EA2AE2;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #00A3FF;
}

.toogle-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-text {
  font-size: 13px;
  color: #B3B3B3;
  text-transform: uppercase;
}



.travel-Mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travelmode-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
}

.travelmode {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}


.travelmode-switch input[type="checkbox"]:checked + .travelmode {
  background-color: #8DC1F0;
}

.travelmode-switch input[type="checkbox"] {
  display: none;
}

.hide {
  width: 30px;
  height: 30px;
  position: absolute;
   background-color:rgba(255, 255, 255, 0.8);
   border-radius: 0px 5px 5px 0px;
   overflow: hidden;
   display: flex;
    align-items: center;
    justify-content: center;
  border: none;
  transition: 0.5s;
  top: 50%;
  cursor: pointer;
  right: -30px;
}

.show {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #EA2AE2;
   border-radius: 0px 5px 5px 0px;
   overflow: hidden;
   display: flex;
   transition: 0.5s;
    align-items: center;
    justify-content: center;
  border: none;
  top: 50%;
  cursor: pointer;
  right: -30px;
}

.hide img {
  width: 20px;
  transition: 0.5s;
  height: 20px;
}

.show img {
  width: 20px;
  height: 20px;
  transition: 0.5s;
  transform: rotate(180deg);
}


.errorbox {
  width: auto;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 20;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  width: 30%;
  padding: 20px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.close-error{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.close-error button {
  background:transparent;
  border: none;
  cursor: pointer;
}
.close-error button img:hover {
  opacity: 0.7;
}
.error-content {
display: flex;
justify-content: center;
font-size: 16px;
color: red;
}

.Build-info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 101;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px ;
  border-radius: 5px;
  gap: 10px;
  align-items: center;
}

.Build-info span a {
  color: blue;
}

@media only screen and (max-width: 1000px) {
  .Build-info {
    display: none;
  }
}